/* Shared Styles */
*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}
.orange{
    color: #FF5400;
}
:root{
    --primary-color:#424247;
}
header, main{
    max-width: 1120px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
/* Header styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo h3{
    font-size: 2.5rem;
}
nav > ul{
    display: flex;
    align-items: center;
    list-style: none;
}
ul > li a{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 44px;
}
nav .select-bar{
    display: none;
}
.btn-primary{
    background-color: #FF5400;
    border-radius: 8px;
    padding: 16px 32px;
    color: #ffffff;
    border: none;
    font-weight: 800;
}
/* Banner style */
.banner{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.36);
    background-blend-mode: multiply;
    border-radius: 16px;
    color: #ffffff;
    text-align: center;
    padding: 100px 100px;
    margin: 0 10px;
}
.banner h3{
    font-size: 3rem;
}
.banner p{
    margin: 24px auto 48px;
    max-width: 500px;
}
.banner form{
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 8px;
    padding: 16px;
    margin: 0 28px;
}
.banner form input[type="text"]{
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin-right: 24px;
}
.banner i{
    margin-right: 5px;
}
/* popular tour style */
.popular-tour{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 10px;
}
.popular-tour .popular-tour-left h4{
    font-size: 2.5rem;
}
.popular-tour .popular-tour-left p,ul > li {
    margin: 24px 0;
    color: var(--primary-color);
}
/* destination style */
.destination{
    text-align: center;
}
.destination h4{
    font-size: 2.5rem;
    font-weight: 800;
}
.destination p{
    color: var(--primary-color);
    margin: 24px 0;
}
.destination .destination-img-row1, .destination-img-row2, .destination-img-row3 {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
/* why choose us style */
.choose-us{
    margin: 100px 10px;
    text-align: center;
}
.choose-us h3{
    font-size: 2.5rem;
    font-weight: 800;
}
.choose-us p{
    color: var(--primary-color);
    margin: 24px 0;
}
.choose-us h4{
    font-size: 1.5rem;
    font-weight: 800;
}
.choose-us img{
    margin-bottom: 32px;
}
.choose-us .choose-us-row1 p, .choose-us-row2 p{
    max-width: 500px;
}
.choose-us .choose-us-row1{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 24px 0;
    
}
.choose-us .choose-us-row1 .hotels{
    background-color: rgba(251, 180, 99, 0.151);
    border-radius: 16px;
    padding: 32px;
    text-align: left;
}
.choose-us .choose-us-row1 .service{
    background-color: rgba(41, 205, 246, 0.096);
    border-radius: 16px;
    padding: 32px;
    text-align: left;
}
.choose-us .choose-us-row2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.choose-us .choose-us-row2 .price{
    background-color: #e944441e;
    border-radius: 16px;
    padding: 32px;
    text-align: left;
}
/* newsletter style */
.newsletter{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.newsletter .newsletter-signup{
    padding: 40px;
    border: 2px solid #FF5400;
    border-radius: 16px;
}
.newsletter .newsletter-signup h5{
    font-size: 1.5rem;
    font-weight: 800;
}
.newsletter .newsletter-signup p{
    color: var(--primary-color);
    margin: 24px 0;
    border-bottom: 3px solid #42424711;
    padding-bottom: 16px;
}
.newsletter-signup form input[type="text"]{
    display: block;
    width: 90%;
    margin-bottom: 16px;
    padding: 16px 20px;
    border: none;
    background-color: #13131810;
    border-radius: 8px;
}
.newsletter-signup .Subscribe{
  width: 100%;
}
.newsletter .newsletter-img{
    position: relative;
    
}
.newsletter .newsletter-img h2{
    position: absolute;
    bottom: 76px;
    right: 0;
    transform: rotate(-45deg);
}
.newsletter .newsletter-img .saveup{
    text-align: center;
}
/* booking feature */
.booking-feature{
    margin: 100px 0;
    text-align: center;
    padding: 0 10px;
}
.booking-feature h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.booking-feature .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.features > div{
    background-color: #ff550015;
    padding: 24px 30px;
    border-radius: 16px;
}
.features > div:hover{
    background-color: #ffffff;
    border: 1px solid #FF5400;
    cursor: pointer;
}
.features > div h3{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 1.3rem;
}
.features i{
    font-size: 4rem;
    color: #fa702b;
    margin-bottom: 16px;
}
.features i:hover{
    transform: rotate(90deg);
}
/* footer section */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: #13131817;
}
.footer .footer-details{
    padding: 100px 50px;
}
.footer-details .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-details .footer-logo h3{
    font-size: 2rem;
}
.footer-details p{
    max-width: 700px;
    margin: 15px 0;
}
.footer-details .footer-icon{
    margin: 32px 0 50px;
    border-bottom: 3px solid #42424711;
    padding-bottom: 50px;
}
.footer-details .footer-icon > i {
    margin-left: 10px;
}
/* responsive for small devices */
@media screen and (max-width:600px) {
    /* header */
    nav > ul {
        display: none;
    }
    nav .select-bar{
        display: block;
    }
    /* banner */
    .banner{
        padding: 32px 24px;
    }
    .banner form{
        display: block;
    }
    .banner form input[type="text"]{
        width: 90%;
        margin-bottom: 16px;
    }
    .banner form button{
        width: 100%;
    }
    .popular-tour .popular-tour-right img{
        width: 100%;
    }
    /* popular tour */
    .popular-tour,.destination .destination-img-row1, .destination-img-row2, .destination-img-row3,.choose-us .choose-us-row1 ,.newsletter, .features{
        flex-direction: column;
    }
    .destination img{
       width: 100%;
    }
    .newsletter-img img{
        width: 100%;
    }
}